doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HowToWeb2.0
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
  body.indexpage
    main
      .overview
        .half.html.open
          h1 HTML
          .more
            p.js_openside View Content
          .content
            ul
              li Einführung
              li Basics
              li Elemente
              li Attribute
              li Überschriften
              li Paragraphen
              li Kommentare
              li CSS
              li Links
              li Bilder
              li Tabellen
              li Listen
              li der Div-Block
              li Klassen
              li Ids
              li Formulare
              li HTML 5 Elemente
              li Referenz
          
        .half.css
          h1 CSS
          .more
            p.js_openside View Content
          .content
            ul
              li
    footer
  
  script(src="assets/js/script.min.js", charset="utf-8")
  
    
