doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HowToWeb2.0
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
  body.indexpage
    main
      .overview
        .half.html.open
          h1 HTML
          .more
            p.js_openside View Content
          .content
            ul
              li
                a(href="slides/1_1_intro.html") Einführung
              li
                a(href="") Basics
              li
                a(href="") Elemente
              li
                a(href="") Attribute
              li
                a(href="") Überschriften
              li
                a(href="") Paragraphen
              li
                a(href="") Kommentare
              li
                a(href="") CSS
              li
                a(href="") Links
              li
                a(href="") Bilder
              li
                a(href="") Tabellen
              li
                a(href="") Listen
              li
                a(href="") der Div-Block
              li
                a(href="") Klassen
              li
                a(href="") Ids
              li
                a(href="") Formulare
              li
                a(href="") HTML 5 Elemente
              li
                a(href="") Referenz
          
        .half.css.closed
          h1 CSS
          .more
            p.js_openside View Content
          .content
            ul
              li
                a(href="") CSS
              li
                a(href="") Syntax
              li
                a(href="") Einbinden
              li
                a(href="") Vererbung
              li
                a(href="") Farben
              li
                a(href="") Text
              li
                a(href="") Schrift
              li
                a(href="") Listen
              li
                a(href="") Hintergründe
              li
                a(href="") Das Box-Modell
              li
                a(href="") Ränder
              li
                a(href="") Margin
              li
                a(href="") Padding
              li
                a(href="") Höhe und Breite
              li
                a(href="") Box-sizing
              li
                a(href="") Schatten
              li
                a(href="") Display 
              li
                a(href="") Flexbox
              li
                a(href="") Position
              li
                a(href="") Float
              li
                a(href="") Kombinatoren
              li
                a(href="") Pseudo-Klassen
              li
                a(href="") Pseudo-Elemente
              li
                a(href="") Transitions
              li
                a(href="") Media Queries
    footer
  
  script(src="assets/js/script.min.js", charset="utf-8")
  
    
