doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HowToWeb2.0
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
  body.indexpage
    main
      .overview
        .half.html
          h1 HTML
          .more
            p.js_openside View Content
          .content
            ul
              li
                a(href="slides/1_1_intro.html") Einführung
              li
                a(href="slides/1_2_basics.html") Basics
              li
                a(href="slides/1_3_elements.html") Elemente
              li
                a(href="slides/1_4_attributes.html") Attribute
              li
                a(href="slides/1_5_headings.html") Überschriften
              li
                a(href="slides/1_6_paragraphs.html") Absätze und Text
              li
                a(href="slides/1_7_comments.html") Kommentare
              li
                a(href="slides/1_8_css.html") CSS
              li
                a(href="slides/1_9_links.html") Links
              li
                a(href="slides/1_10_images.html") Bilder
              li
                a(href="slides/1_11_tables.html") Tabellen
              li
                a(href="slides/1_12_lists.html") Listen
              li
                a(href="slides/1_13_div.html") der Div-Block
              li
                a(href="slides/1_14_classes.html") Klassen
              li
                a(href="slides/1_15_ids.html") Ids
              li
                a(href="slides/1_16_forms.html") Formulare
              li
                a(href="slides/1_17_html5.html") HTML 5 Elemente
              li
                a(href="slides/1_18_ref.html") Referenz
          
        .half.css
          h1 CSS
          .more
            p.js_openside View Content
          .content
            ul
              li
                a(href="slides/2_1_css.html") CSS
              li
                a(href="slides/2_2_syntax.html") Syntax
              li
                a(href="slides/2_3_einbinden.html") Einbinden
              li
                a(href="slides/2_4_vererbung.html") Vererbung
              li
                a(href="slides/2_5_colors.html") Farben
              li
                a(href="slides/2_6_text.html") Text
              li
                a(href="slides/2_7_font.html") Schrift
              li
                a(href="slides/2_8_lists.html") Listen
              li
                a(href="slides/2_9_background.html") Hintergründe
              li
                a(href="slides/2_10_box-modell.html") Das Box-Modell
              li
                a(href="slides/2_11_border.html") Ränder
              li
                a(href="slides/2_12_margin.html") Margin
              li
                a(href="slides/2_13_padding.html") Padding
              li
                a(href="slides/2_14_height.html") Höhe und Breite
              li
                a(href="slides/2_15_boxsizing.html") Box-sizing
              li
                a(href="slides/2_16_shadow.html") Schatten
              li
                a(href="slides/2_17_display.html") Display 
              li
                a(href="slides/2_18_flexbox.html") Flexbox
              li
                a(href="slides/2_19_position.html") Position
              li
                a(href="slides/2_20_float.html") Float
              li
                a(href="slides/2_23_kombinatoren.html") Kombinatoren
              li
                a(href="slides/2_24_pseudoklassen.html") Pseudo-Klassen
              li
                a(href="slides/2_25_pseudoelemente.html") Pseudo-Elemente
              li
                a(href="slides/2_26_transitions.html") Transitions
              li
                a(href="slides/2_27_mediaquery.html") Media Queries
    footer
  
  script(src="assets/js/script.min.js", charset="utf-8")
  
    
