doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HowToWeb2.0
    link(rel="stylesheet", type="text/css", href="assets/css/main.css")
  body.sleeppage
    .startbutton
    a(href="index.html").exit
    .wrapper
      .imgcont
        img(src="./assets/img/big/img_b_105.jpg", alt="Sleepimage").in
        img(src="./assets/img/big/img_b_135.jpg", alt="Sleepimage").out
  script(src="assets/js/script.min.js", charset="utf-8")
  
    
