//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70


// Warm
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B


// Gray Scale
$white:  #fff
$silver: #ddd
$gray:   #aaa
$black:  #111


//
// Add whatever variables you would like made available to the whole app
//

$c_theme_code_default: #4B5262
$c_theme_code_green: hsl(95,38%,62%)
$c_theme_code_bluelight: hsl(187, 47%, 55%)
$c_theme_code_bluedark: #006699
$c_theme_code_red: hsl(355,65%,65%)
$c_theme_code_orange: hsl(29,54%,61%)
$c_theme_code_gray: hsl(220, 14%, 71%)
$c_theme_code_pink: #ff1493
$c_theme_code_purple: hsl(286, 60%, 67%)

$c_theme_bg_1: #FCFBE3
$c_theme_bg_2: #578CA9

$c_theme_bg_dark: #282c34


$c_theme_font: darken(#4B5262, 10)
$c_theme_light: #95DEE2
$c_theme_dark: #142642
$c_theme_base: #2D5593
$c_theme_accent: #FFC800
$c_theme_altaccent: #FF5B4A

$c_theme_accent_light: lighten($c_theme_accent, 30)
$c_theme_accent_dark: darken($c_theme_accent, 30)
