-var pfad = "slides/"
-var home = "../index.html"
-var previous = "1_9_links.html"
-var next = "1_11_tables.html"
-var title = "Bilder"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Bilder
        p.center.xlgpad.xlgfont
          code.bluelight &lt;img src="bild.jpg" alt="Landschaft"&gt;
        .nextslide
      section#2.explanation
        .previouslide
        .fourimages   
          .quarter       
            img(src="../assets/img/big/img_b_145.jpg")
          .quarter       
            img(src="../assets/img/big/img_b_009.jpg")
          .quarter       
            img(src="../assets/img/big/img_b_100.jpg")
          .quarter       
            img(src="../assets/img/big/img_b_142.jpg")
        .nextslide
      section#3.explanation
        .previouslide
        img(src="../assets/img/big/img_b_083.jpg", alt="Shore" style="width:100%")
      
      


  include ../master/footer.jade
