-var pfad = "slides/"
-var home = "../index.html"
-var previous = "1_10_images.html"
-var next = "1_12_lists.html"
-var title = "Tabellen"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Tabellen
        .nextslide
      section#2.explanation
        .previouslide
      
      


  include ../master/footer.jade
