-var pfad = "slides/"
-var home = "../index.html"
-var previous = "1_11_tables.html"
-var next = "1_13_div.html"
-var title = "Listen"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Listen
        h3.lgfont.nomar.nopad Not-to-Do-Liste
        ol(start="243")
          li Glastüren übersehen
          li Aus Langeweile einen Detektivbüro gründen
          li Zu Leuten mit Migräne sagen: "Ich habe heute auch ein bisschen Kopfschmerzen"
          li Wenn jemand sagt: "Ich finde dich ganz toll" anworten: "Na da können wir ja nen Club aufmachen!"
          li Wenn man Geburtstag hat und nur einer kommt und singt: "Heute ist dein Geburtstag und darum feiern wir, alle deine Freunde freuen sich mit dir ..." sagen: "Du bist nicht mein Freund"
        
        blockquote
          p.quote Die Macht ist nicht etwas, was man erwirbt, wegnimmt, teilt, was man bewahrt oder verliert; die Macht ist etwas, was sich von unzähligen Punkten aus und im Spiel ungleicher und beweglicher Beziehungen vollzieht
          p.origin Darth Vader
            
        .nextslide
      section#2.explanation
        .previouslide
        h2 Listen
        .codebox
          pre(class="brush: xml").
            <ol>
              <li>Item</li>
              <li>Item</li>
            </ol>
            
            <ul>
              <li>Item</li>
              <li>Item</li>
            </ul>
        ol
          li Item
          li Item
        
        ul
          li Item
          li Item
        .nextslide
      section#3.code
        .previouslide
        .codeside
          .htmltab
            h3 index.html
            .codetab
              pre(class="brush: xml").
                &lt;!DOCTYPE html&gt;
                &lt;html lang='de'&gt;
                  &lt;head&gt;
                    &lt;title&gt;Eine HTML-Seite&lt;/title&gt;
                    &lt;link rel="stylesheet" href="main.css"&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;!-- ... --&gt;
                    
                    <h3>Top 5 Games played on Steam</h3>
                    <ol>
                      <li>Dota 2</li>
                      <li>Counter-Strike: Global Offensive</li>
                      <li>Grand Theft Auto V</li>
                      <li>ARK: Survival Evolved</li>
                      <li>Tom Clancy's Rainbow Six Siege</li>
                    </ol>
                    
                    &lt;!-- ... --&gt;

                  &lt;/body&gt;
                &lt;/html&gt;
            
          
        .previewside.preview
          .livewrite
            h1 Überschrift
            h2 Überschrift 2
            h3 Überschrift 3
            p.boldblue Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            pre.
              Dunkel war’s, der Mond schien helle,
              schneebedeckt die grüne Flur,
              als ein Wagen blitzesschnelle,
              langsam um die Ecke fuhr.
              
            table
              tr
                td Data 1
                td Daten
              tr
                td Data 2
                td Daten
            
            h3 Top 5 Games played on Steam
            ol
              li Dota 2
              li Counter-Strike: Global Offensive
              li Grand Theft Auto V
              li ARK: Survival Evolved
              li Tom Clancy's Rainbow Six Siege
            
            a(href="//karabenemsi.github.io/HowToWeb2") HowToWeb 2
            img(src="../assets/img/big/img_b_035.jpg", alt="alt",style="width:100%")  
      
      


  include ../master/footer.jade
