-var pfad = "slides/"
-var home = "../index.html"
-var previous = "1_12_lists.html"
-var next = "1_14_classes.html"
-var title = "Der Div-Block"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.slide_div_1.active
        h2 Die allgemeine Box
        .demodiv
        p.xlgfont.lgpad.center
          code.bluelight &lt;div&gt; &lt;/div&gt;

  include ../master/footer.jade
