-var pfad = "slides/"
-var home = "../index.html"
-var previous = "1_13_div.html"
-var next = "1_15_ids.html"
-var title = "Klassen"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Klassen
        .nextslide
      section#2.explanation
        .previouslide
      
      


  include ../master/footer.jade
