-var pfad = "slides/"
-var home = "../index.html"
-var previous = "1_13_div.html"
-var next = "1_15_ids.html"
-var title = "Klassen"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Klassen
        h3 Bekannt:
        .codebox
          pre(class="brush: xml").
            &lt;p style="color: green"&gt;lorem ipsum&lt;/p&gt;
            &lt;p style="color: green"&gt;lorem ipsum&lt;/p&gt;
            &lt;p style="color: green"&gt;lorem ipsum&lt;/p&gt;
        h3 Besser:
        .codebox
          pre(class="brush: xml").
            &lt;style&gt; .green{color:green} &lt;/style&gt;
            &lt;p class="green"&gt;lorem ipsum&lt;/p&gt;
            &lt;p class="green"&gt;lorem ipsum&lt;/p&gt;
            &lt;p class="green"&gt;lorem ipsum&lt;/p&gt;
        .nextslide
      section#2.explanation
        .previouslide
        h3 In HTML:
        p.center.xlgfont.lgpad
          code.bluelight &lt;h1 class="blue"&gt;Blau&lt;/h1&gt;
        h3 In CSS:
        p.center.xlgfont.lgpad
          code.orange .blue {} 
        .nextslide
      section#3.code
        .previouslide
        .codeside
          .htmltab
            h3 index.html
            .codetab
              pre(class="brush: xml").
                &lt;!DOCTYPE html&gt;
                &lt;html lang='de'&gt;
                  &lt;head&gt;
                    &lt;tite&gt;Eine HTML-Seite&lt;/tite&gt;
                    &lt;link rel="stylesheet" href="main.css"&gt;
                    &lt;style&gt;
                      .redfont{
                        color: red;
                      }
                    &lt;/style&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;!-- ... --&gt;
                    
                    &lt;h3 class="redfont" &gt;Top 5 Games played on Steam&lt;/h3&gt;
                    &lt;ol&gt;
                      &lt;li&gt;Dota 2&lt;/li&gt;
                      &lt;li&gt;Counter-Strike: Global Offensive&lt;/li&gt;
                      &lt;li class="redfont"&gt;Grand Theft Auto V&lt;/li&gt;
                      &lt;li&gt;ARK: Survival Evolved&lt;/li&gt;
                      &lt;li&gt;Tom Clancy's Rainbow Six Siege&lt;/li&gt;
                    &lt;/ol&gt;
                    
                    &lt;!-- ... --&gt;

                  &lt;/body&gt;
                &lt;/html&gt;
            
          
        .previewside.preview
          .livewrite
            h1 Überschrift
            h2 Überschrift 2
            h3 Überschrift 3
            p.boldblue Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            pre.
              Dunkel war’s, der Mond schien helle,
              schneebedeckt die grüne Flur,
              als ein Wagen blitzesschnelle,
              langsam um die Ecke fuhr.
              
            table
              tr
                td Data 1
                td Daten
              tr
                td Data 2
                td Daten
            
            h3.redfont Top 5 Games played on Steam
            ol
              li Dota 2
              li Counter-Strike: Global Offensive
              li.redfont Grand Theft Auto V
              li ARK: Survival Evolved
              li Tom Clancy's Rainbow Six Siege
            
            a(href="//karabenemsi.github.io/HowToWeb2") HowToWeb 2
            img(src="../assets/img/big/img_b_035.jpg", alt="alt",style="width:100%") 
        
          
      
      


  include ../master/footer.jade
