-var pfad = "slides/"
-var home = "../index.html"
-var next = "1_18_ref.html"
-var previous = "1_16_forms.html"
-var title = "HTML 5"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
            
        .nextslide
      section#2.explanation
        .previouslide
      
      


  include ../master/footer.jade
