-var pfad = "slides/"
-var home = "../index.html"
-var next = home
-var previous = "1_17_html5.html"
-var title = "Referenz"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Heute nicht behandelte Elemente:
        ul.reflisttags
          li
            code.white abbr
            .description(data-open="false")
              h3
                code.white &lt;abbr&gt;
              p Definiert eine Abkürzung oder ein Akronym Bsp: "ASAP", "MfG", "WHO"
              p Gibt Browsern, Suchmaschinen und Übersetzern hilfreiche Informationen
              codebox
                pre(class="brush: xml").
                  The &lt;abbr title="World Health Organization"&gt;WHO&lt;/abbr&gt; was founded in 1948.
          li
            code.white address
            .description(data-open="false")
              h3
                code.white &lt;address&gt;
              p Definiert die Kontaktinformationen für den Artikel/die Seite. Im 
                code.white &lt;article&gt;
                | angegeben definiert er die Informationen für den Artikel, sonst für die Seite.
              codebox
                pre(class="brush: xml").
                  &lt;address&gt;
                    Written by &lt;a href="mailto:webmaster@example.com"&gt;Jon Doe&lt;/a&gt;.&lt;br&gt; 
                    Visit us at:&lt;br&gt;
                    Example.com&lt;br&gt;
                    Box 564, Disneyland&lt;br&gt;
                    USA
                  &lt;/address&gt;
          li
            code.white area
            .description(data-open="false") 
              h3
                code.white &lt;area&gt;
              p Beschreibt einen Bereich in einer image-map das Element ist immer in einer 
                code &lt;map&gt; 
                | verschachtelt.
              codebox
                pre(class="brush: xml").
                  &lt;img src="planets.gif" width="145" height="126" alt="Planets"
                    usemap="#planetmap"&gt;

                  &lt;map name="planetmap"&gt;
                    &lt;area shape="rect" coords="0,0,82,126" href="sun.htm" alt="Sun"&gt;
                    &lt;area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury"&gt;
                    &lt;area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus"&gt;
                  &lt;/map&gt;
          li
            code.white article
            .description(data-open="false")
              h3
                code.white &lt;article&gt;
              p Der 
                code &lt;article&gt;
                | tag spezifiziert unabhängingen, selbstständigen Inhalt. Ein  Artikel sollte ohne Zusätze Sinn ergeben und es sollte moglich sein ihn vom Rest der Seite trennnen zu können.
              codebox
                pre(class="brush: xml").
                  &lt;article&gt;
                    &lt;h1&gt;Google Chrome&lt;/h1&gt;
                    &lt;p&gt;Google Chrome is a free, open-source web browser developed by Google.&lt;/p&gt;
                  &lt;/article&gt;
          li
            code.white aside
            .description(data-open="false")
              h3
                code.white &lt;aside&gt;
              p Der 
                code &lt;aside&gt;
                | tag definiert Inhalt abseits von dem ihn enthaltenen Umfeld. Er sollte inhaltlich zur Umgebung passen.
              codebox
                pre(class="brush: xml").
                  &lt;p&gt;My family and I visited The Epcot center this summer.&lt;/p&gt;

                  &lt;aside&gt;
                    &lt;h4&gt;Epcot Center&lt;/h4&gt;
                    &lt;p&gt;The Epcot Center is a theme park in Disney World, Florida.&lt;/p&gt;
                  &lt;/aside&gt;
            
          li
            code.white audio
            .description(data-open="false")
              h3
                code.white &lt;audio&gt;
              p Definiert Ton so wie Musik oder andere Audiostreams
              codebox
                pre(class="brush: xml").
                  &lt;audio controls&gt;
                    &lt;source src="horse.ogg" type="audio/ogg"&gt;
                    &lt;source src="horse.mp3" type="audio/mpeg"&gt;
                    Your browser does not support the audio tag.
                  &lt;/audio&gt; 
                  
            
          li
            code.white base
            .description(data-open="false")
              h3
                code.white &lt;base&gt;
              p Definiert eine Standarturl und ein Standarttarget für alle Links auf der Seite
              codebox
                pre(class="brush: xml").
                  &lt;head&gt;
                    &lt;base href="https://www.w3schools.com/images/" target="_blank"&gt;
                  &lt;/head&gt;

                  &lt;body&gt;
                    &lt;img src="stickman.gif" width="24" height="39" alt="Stickman"&gt;
                    &lt;a href="https://www.w3schools.com"&gt;W3Schools&lt;/a&gt;
                  &lt;/body&gt; 
            
          li
            code.white bdi
            .description(data-open="false")
              h3
                code.white &lt;bdi&gt;
              p BDI steht für
                b B
                | i-
                b D
                | irectional 
                b I
                | solation. Der
                code &lt;bdi&gt;
                | tag isoliert einen Teil eines Textes der bei der Änderung der Textrichtung anders formattiert wird. Seine Textrichtung wird beibehalten
              codebox
                pre(class="brush: xml").
                  &lt;ul&gt;
                    &lt;li&gt;User &lt;bdi&gt;hrefs&lt;/bdi&gt;: 60 points&lt;/li&gt;
                    &lt;li&gt;User &lt;bdi&gt;jdoe&lt;/bdi&gt;: 80 points&lt;/li&gt;
                    &lt;li&gt;User &lt;bdi&gt;????&lt;/bdi&gt;: 90 points&lt;/li&gt;
                  &lt;/ul&gt;
                  
            
          li
            code.white bdo
            .description(data-open="false")
              h3
                code.white &lt;bdo&gt;
              p BDO steht für 
                b B
                | i-
                b D
                | irectional 
                b O
                | verwrite. Damit wird die die aktuelle Textrichtung überschrieben
              codebox
                pre(class="brush: xml").
                  &lt;bdo dir="rtl"&gt;
                    This text will go right-to-left.
                  &lt;/bdo&gt; 
                  
            
          li
            code.white blockquote
            .description(data-open="false")
              h3
                code.white &lt;blockquote&gt;
              p Ein Abschnitt, von einer anderen Quelle zitiert wird.
              codebox
                pre(class="brush: xml").
                  &lt;blockquote&gt;
                    Niemand hat vor eine Mauer zu bauen - Bob der Baumeister
                  &lt;/blockquote&gt;
                  
            
          li
            code.white button
            .description(data-open="false")
              h3
                code.white &lt;button&gt;
              p Definiert einen klickbaren Knopf. Er unterscheidet sich von einem Knopf aus einem 
                code &lt;input&gt;
                | -Element dadurch, dass hier auch Texte oder Bilder eingefügt werden können.
              codebox
                pre(class="brush: xml").
                  &lt;button type="button"&gt;Click Me!&lt;/button&gt;
                  
            
          li
            code.white canvas
            .description(data-open="false")
              h3
                code.white &lt;canvas&gt;
              p Auf einem Canvas kann live gemalt werden. Dies geschieht per JavaScript.
              codebox
                pre(class="brush: xml").
                  &lt;canvas id="myCanvas"&gt;&lt;/canvas&gt;

                  &lt;script&gt;
                    var canvas = document.getElementById("myCanvas");
                    var ctx = canvas.getContext("2d");
                    ctx.fillStyle = "#FF0000";
                    ctx.fillRect(0, 0, 80, 80);
                   &lt;/script&gt; 
                  
            
          li
            code.white caption
            .description(data-open="false")
              h3
                code.white &lt;caption&gt;
              p Definiert eine Bezeichnung für eine Tabelle.
              codebox
                pre(class="brush: xml").
                  &lt;table&gt;
                    &lt;caption&gt;Monthly savings&lt;/caption&gt;
                    &lt;tr&gt;
                      &lt;th&gt;Month&lt;/th&gt;
                      &lt;th&gt;Savings&lt;/th&gt;
                    &lt;/tr&gt;
                    &lt;tr&gt;
                      &lt;td&gt;January&lt;/td&gt;
                       &lt;td&gt;$100&lt;/td&gt;
                     &lt;/tr&gt;
                  &lt;/table&gt; 
                  
            
          li
            code.white cite
            .description(data-open="false")
              h3
                code.white &lt;cite&gt;
              p Definiert den Namen/Titel eines Werks (z.B. Ein Bild, ein Lied ...)
              codebox
                pre(class="brush: xml").
                  &lt;p&gt;&lt;cite&gt;The Scream&lt;/cite&gt; by Edward Munch. Painted in 1893.&lt;/p&gt; 
            
          li
            code.white code
            .description(data-open="false")
              h3
                code.white &lt;code&gt;
              p Enthält Computercode
              codebox
                pre(class="brush: xml").
                  &lt;code&gt;&lt;code&gt;&lt;/code&gt;
                
           
          li
            code.white data
            .description(data-open="false")
              h3
                code.white &lt;data&gt;
              p The &lt;data&gt; tag links the given content with a machine-readable translation. This element provides both a machine-readable value for data processors, and a human-readable value for rendering in a browser.

              codebox
                pre(class="brush: xml").
                  &lt;ul&gt;
                    &lt;li&gt;&lt;data value="21053"&gt;Cherry Tomato&lt;/data&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;data value="21054"&gt;Beef Tomato&lt;/data&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;data value="21055"&gt;Snack Tomato&lt;/data&gt;&lt;/li&gt;
                  &lt;/ul&gt; 
            
          li
            code.white datalist
            .description(data-open="false")
              h3
                code.white &lt;datalist&gt;
              p The &lt;datalist&gt; tag specifies a list of pre-defined options for an &lt;input&gt; element. The &lt;datalist&gt; tag is used to provide an "autocomplete" feature on &lt;input&gt; elements. Users will see a drop-down list of pre-defined options as they input data. Use the &lt;input&gt; element's list attribute to bind it together with a &lt;datalist&gt; element.

              codebox
                pre(class="brush: xml").
                  &lt;input list="browsers"&gt;

                  &lt;datalist id="browsers"&gt;
                     &lt;option value="Internet Explorer"&gt;
                     &lt;option value="Firefox"&gt;
                     &lt;option value="Chrome"&gt;
                     &lt;option value="Opera"&gt;
                     &lt;option value="Safari"&gt;
                  &lt;/datalist&gt; 
                              
          li
            code.white dd
            .description(data-open="false")
              h3
                code.white &lt;dd&gt;
              p The &lt;dd&gt; tag is used to describe a term/name in a description list. The &lt;dd&gt; tag is used in conjunction with &lt;dl&gt; (defines a description list) and &lt;dt&gt; (defines terms/names). Inside a &lt;dd&gt; tag you can put paragraphs, line breaks, images, links, lists, etc.

              codebox
                pre(class="brush: xml").
                  &lt;dl&gt;
                    &lt;dt&gt;Coffee&lt;/dt&gt;
                    &lt;dd&gt;Black hot drink&lt;/dd&gt;
                    &lt;dt&gt;Milk&lt;/dt&gt;
                    &lt;dd&gt;White cold drink&lt;/dd&gt;
                  &lt;/dl&gt; 
            
          li
            code.white details
            .description(data-open="false")
              h3
                code.white &lt;details&gt;
              p The &lt;details&gt; tag specifies additional details that the user can view or hide on demand. The &lt;details&gt; tag can be used to create an interactive widget that the user can open and close. Any sort of content can be put inside the &lt;details&gt; tag. The content of a &lt;details&gt; element should not be visible unless the open attribute is set.

              codebox
                pre(class="brush: xml").
                  &lt;details&gt;
                    &lt;summary&gt;Copyright 1999-2014.&lt;/summary&gt;
                    &lt;p&gt; - by Refsnes Data. All Rights Reserved.&lt;/p&gt;
                    &lt;p&gt;All content and graphics on this web site are the property of Refsnes&lt;/p&gt;
                  &lt;/details&gt; 
                  
            
          li
            code.white dfn
            .description(data-open="false")
              h3
                code.white &lt;dfn&gt;
              p The &lt;dfn&gt; tag represents the defining instance of a term in HTML. The defining instance is often the first use of a term in a document. The nearest parent of the &lt;dfn&gt; tag must also contain the definition/explanation for the term inside &lt;dfn&gt;.

              codebox
                pre(class="brush: xml").
                  &lt;p&gt;&lt;dfn&gt;HTML&lt;/dfn&gt; is the standard markup language for creating web pages.&lt;/p&gt;
            
          li
            code.white dialog
            .description(data-open="false")
              h3
                code.white &lt;dialog&gt;
              p The &lt;dialog&gt; tag defines a dialog box or window. The &lt;dialog&gt; element makes it easy to create popup dialogs and modals on a web page.

              codebox
                pre(class="brush: xml").
                  &lt;th&gt;January &lt;dialog open&gt;This is an open dialog window&lt;/dialog&gt;&lt;/th&gt;
            
          li
            code.white dt
            .description(data-open="false")
              h3
                code.white &lt;dt&gt;
              p The &lt;dt&gt; tag defines a term/name in a description list. The &lt;dt&gt; tag is used in conjunction with &lt;dl&gt; (defines a description list) and &lt;dd&gt; (describes each term/name).

              codebox
                pre(class="brush: xml").
                  &lt;dl&gt;
                    &lt;dt&gt;Coffee&lt;/dt&gt;
                    &lt;dd&gt;Black hot drink&lt;/dd&gt;
                    &lt;dt&gt;Milk&lt;/dt&gt;
                    &lt;dd&gt;White cold drink&lt;/dd&gt;
                  &lt;/dl&gt;   
            
          li
            code.white dl
            .description(data-open="false")
              h3
                code.white &lt;dl&gt;
              p The &lt;dl&gt; tag defines a description list. The &lt;dl&gt; tag is used in conjunction with &lt;dt&gt; (defines terms/names) and &lt;dd&gt; (describes each term/name).

              codebox
                pre(class="brush: xml").
                  &lt;dl&gt;
                    &lt;dt&gt;Coffee&lt;/dt&gt;
                    &lt;dd&gt;Black hot drink&lt;/dd&gt;
                    &lt;dt&gt;Milk&lt;/dt&gt;
                    &lt;dd&gt;White cold drink&lt;/dd&gt;
                  &lt;/dl&gt; 
                            
          li
            code.white embed
            .description(data-open="false")
              h3
                code.white &lt;embed&gt;
              p Definiert einen Container für eine externe Anwendung oder interaktiven Inhalt.
              codebox
                pre(class="brush: xml").
                  &lt;embed src="helloworld.swf"&gt; 
            
          li
            code.white fieldset
            .description(data-open="false")
              h3
                code.white &lt;fieldset&gt;
              p Wird benutzt um zueinander gehörende Elemente in einem Formular zu gruppieren
              codebox
                pre(class="brush: xml").
                  &lt;form&gt;
                    &lt;fieldset&gt;
                      &lt;legend&gt;Personalia:&lt;/legend&gt;
                      Name: &lt;input type="text"&gt;&lt;br&gt;
                      Email: &lt;input type="text"&gt;&lt;br&gt;
                      Date of birth: &lt;input type="text"&gt;
                    &lt;/fieldset&gt;
                  &lt;/form&gt; 
                  
            
          li
            code.white figcaption
            .description(data-open="false")
              h3
                code.white &lt;figcaption&gt;
              p The &lt;figcaption&gt; tag defines a caption for a &lt;figure&gt; element. The &lt;figcaption&gt; element can be placed as the first or last child of the &lt;figure&gt; element.

              codebox
                pre(class="brush: xml").
                  &lt;figure&gt;
                    &lt;img src="img_pulpit.jpg" alt="The Pulpit Rock" width="304" height="228"&gt;
                    &lt;figcaption&gt;Fig1. - A view of the pulpit rock in Norway.&lt;/figcaption&gt;
                  &lt;/figure&gt; 
                  
            
          li
            code.white figure
            .description(data-open="false")
              h3
                code.white &lt;figure&gt;
              p Das &lt;figure&gt; -Tag legt in sich geschlossene Inhalte wie Illustrationen, Diagramme, Fotos, Codelisten usw. fest. Während der Inhalt des &lt;figure&gt; -Elements mit dem Hauptfluss zusammenhängt, ist seine Position unabhängig vom Hauptfluss, und wenn es entfernt wird, sollte dies den Fluss des Dokuments nicht beeinflussen.
              codebox
                pre(class="brush: xml").
                  &lt;figure&gt;
                    &lt;img src="img_pulpit.jpg" alt="The Pulpit Rock" width="304" height="228"&gt;
                  &lt;/figure&gt; 
            
          li
            code.white footer
            .description(data-open="false")
              h3
                code.white &lt;footer&gt;
              p Definiert eine Fußzeile für eine Dokument oder einen Abschnitt und enthält weiterführende Informationen
              codebox
                pre(class="brush: xml").
                  &lt;footer&gt;
                    &lt;p&gt;Posted by: Hege Refsnes&lt;/p&gt;
                    &lt;p&gt;Contact information: &lt;a href="mailto:someone@example.com"&gt;
                      someone@example.com&lt;/a&gt;.&lt;/p&gt;
                  &lt;/footer&gt; 
                  
            
          li
            code.white header
            .description(data-open="false")
              h3
                code.white &lt;header&gt;
              p Das header-Element ist ein Container für einleitenden Inhalt oder Navigationslinks
              codebox
                pre(class="brush: xml").
                  &lt;article&gt;
                    &lt;header&gt;
                      &lt;h1&gt;Most important heading here&lt;/h1&gt;
                      &lt;h3&gt;Less important heading here&lt;/h3&gt;
                      &lt;p&gt;Some additional information here&lt;/p&gt;
                    &lt;/header&gt;
                    &lt;p&gt;Lorem Ipsum dolor set amet....&lt;/p&gt;
                  &lt;/article&gt; 
                  
            
          li
            code.white hr
            .description(data-open="false")
              h3
                code.white &lt;hr&gt;
              p Definiert einen Themenwechsel in einer Seite.
              codebox
                pre(class="brush: xml").
                  &lt;h1&gt;HTML&lt;/h1&gt;
                    &lt;p&gt;HTML is a language for describing web pages.....&lt;/p&gt;

                    &lt;hr&gt;

                    &lt;h1&gt;CSS&lt;/h1&gt;
                  &lt;p&gt;CSS defines how to display HTML elements.....&lt;/p&gt; 
                  
            
          li
            code.white iframe
            .description(data-open="false")
              h3
                code.white &lt;iframe&gt;
              p Ein Inline-Frame. Hier wird ein anderes Dokument eingebunden.
              codebox
                pre(class="brush: xml").
                  &lt;iframe src="https://www.w3schools.com"&gt;&lt;/iframe&gt;
            
          li
            code.white kbd
            .description(data-open="false")
              h3
                code.white &lt;kbd&gt;
              p Tastatureingabe
              codebox
                pre(class="brush: xml").
                  &lt;kbd&gt;Leertaste&lt;/kbd&gt; 
                  
            
          li
            code.white keygen
            .description(data-open="false")
              h3
                code.white &lt;keygen&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white label
            .description(data-open="false")
              h3
                code.white &lt;label&gt;
              p Ein Schlüsselpaargenerator für Formulare
              codebox
                pre(class="brush: xml").
                  &lt;form action="/action_page.php" method="get"&gt;
                    Username: &lt;input type="text" name="usr_name"&gt;
                    Encryption: &lt;keygen name="security"&gt;
                    &lt;input type="submit"&gt;
                  &lt;/form&gt;
                  
            
          li
            code.white legend
            .description(data-open="false")
              h3
                code.white &lt;legend&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white link
            .description(data-open="false")
              h3
                code.white &lt;link&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white main
            .description(data-open="false")
              h3
                code.white &lt;main&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white map
            .description(data-open="false")
              h3
                code.white &lt;map&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white mark
            .description(data-open="false")
              h3
                code.white &lt;mark&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white menu
            .description(data-open="false")
              h3
                code.white &lt;menu&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white menuitem
            .description(data-open="false")
              h3
                code.white &lt;menuitem&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white meta
            .description(data-open="false")
              h3
                code.white &lt;meta&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white meter
            .description(data-open="false")
              h3
                code.white &lt;meter&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white nav
            .description(data-open="false")
              h3
                code.white &lt;nav&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white noscript
            .description(data-open="false")
              h3
                code.white &lt;noscript&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white object
            .description(data-open="false")
              h3
                code.white &lt;object&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white optgroup
            .description(data-open="false")
              h3
                code.white &lt;optgroup&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white option
            .description(data-open="false")
              h3
                code.white &lt;option&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white output
            .description(data-open="false")
              h3
                code.white &lt;output&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white param
            .description(data-open="false")
              h3
                code.white &lt;param&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white picture
            .description(data-open="false")
              h3
                code.white &lt;picture&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white progress
            .description(data-open="false")
              h3
                code.white &lt;progress&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white q
            .description(data-open="false")
              h3
                code.white &lt;q&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white rp
            .description(data-open="false")
              h3
                code.white &lt;rp&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white rt
            .description(data-open="false")
              h3
                code.white &lt;rt&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white ruby
            .description(data-open="false")
              h3
                code.white &lt;ruby&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white s
            .description(data-open="false")
              h3
                code.white &lt;s&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white samp
            .description(data-open="false")
              h3
                code.white &lt;samp&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white script
            .description(data-open="false")
              h3
                code.white &lt;script&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white section
            .description(data-open="false")
              h3
                code.white &lt;section&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white select
            .description(data-open="false")
              h3
                code.white &lt;select&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white small
            .description(data-open="false")
              h3
                code.white &lt;small&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white source
            .description(data-open="false")
              h3
                code.white &lt;source&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white span
            .description(data-open="false")
              h3
                code.white &lt;span&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white summary
            .description(data-open="false")
              h3
                code.white &lt;summary&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white tbody
            .description(data-open="false")
              h3
                code.white &lt;tbody&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white textarea
            .description(data-open="false")
              h3
                code.white &lt;textarea&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white tfoot
            .description(data-open="false")
              h3
                code.white &lt;tfoot&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white th
            .description(data-open="false")
              h3
                code.white &lt;th&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white thead
            .description(data-open="false")
              h3
                code.white &lt;thead&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white time
            .description(data-open="false")
              h3
                code.white &lt;time&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white title
            .description(data-open="false")
              h3
                code.white &lt;title&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white track
            .description(data-open="false")
              h3
                code.white &lt;track&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white u
            .description(data-open="false")
              h3
                code.white &lt;u&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white var
            .description(data-open="false")
              h3
                code.white &lt;var&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white video
            .description(data-open="false")
              h3
                code.white &lt;video&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white wbr
            

            
           

            
        .nextslide
      section#2.explanation
        .previouslide
          h2 Nachschlagewerke:
          p.center.lgfont.lgpad
            a(href="//w3schools.com") W3Schools
          p.center.lgfont.lgpad
            a(href="//developer.mozilla.org/de/docs/Web/HTML") Mozilla Developer Network
          p.center.lgfont.lgpad
            a(href="//wiki.selfhtml.org/wiki/HTML") Selfhtml
      
      


  include ../master/footer.jade
