-var pfad = "slides/"
-var home = "../index.html"
-var next = home
-var previous = "1_17_html5.html"
-var title = "Referenz"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
            
        .nextslide
      section#2.explanation
        .previouslide
      
      


  include ../master/footer.jade
