-var pfad = "slides/"
-var home = "../index.html"
-var next = home
-var previous = "1_17_html5.html"
-var title = "Referenz"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Heute nicht behandelte Elemente:
        ul.reflisttags
          li
            code.white abbr
            .description(data-open="false")
              h3
                code.white &lt;abbr&gt;
              p Definiert eine Abkürzung oder ein Akronym Bsp: "ASAP", "MfG", "WHO"
              p Gibt Browsern, Suchmaschinen und Übersetzern hilfreiche Informationen
              codebox
                pre(class="brush: xml").
                  The &lt;abbr title="World Health Organization"&gt;WHO&lt;/abbr&gt; was founded in 1948.
          li
            code.white address
            .description(data-open="false")
              h3
                code.white &lt;address&gt;
              p Definiert die Kontaktinformationen für den Artikel/die Seite. Im 
                code.white &lt;article&gt;
                | angegeben definiert er die Informationen für den Artikel, sonst für die Seite.
              codebox
                pre(class="brush: xml").
                  &lt;address&gt;
                    Written by &lt;a href="mailto:webmaster@example.com"&gt;Jon Doe&lt;/a&gt;.&lt;br&gt; 
                    Visit us at:&lt;br&gt;
                    Example.com&lt;br&gt;
                    Box 564, Disneyland&lt;br&gt;
                    USA
                  &lt;/address&gt;
          li
            code.white area
            .description(data-open="false") 
              h3
                code.white &lt;area&gt;
              p Beschreibt einen Bereich in einer image-map das Element ist immer in einer 
                code &lt;map&gt; 
                | verschachtelt.
              codebox
                pre(class="brush: xml").
                  &lt;img src="planets.gif" width="145" height="126" alt="Planets"
                    usemap="#planetmap"&gt;

                  &lt;map name="planetmap"&gt;
                    &lt;area shape="rect" coords="0,0,82,126" href="sun.htm" alt="Sun"&gt;
                    &lt;area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury"&gt;
                    &lt;area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus"&gt;
                  &lt;/map&gt;
          li
            code.white article
            .description(data-open="false")
              h3
                code.white &lt;article&gt;
              p Der 
                code <article>
                | tag spezifiziert unabhängingen, selbstständigen Inhalt. Ein  Artikel sollte ohne Zusätze Sinn ergeben und es sollte moglich sein ihn vom Rest der Seite trennnen zu können.
              codebox
                pre(class="brush: xml").
                  <article>
                    <h1>Google Chrome</h1>
                    <p>Google Chrome is a free, open-source web browser developed by Google, released in 2008.</p>
                  </article>
          li
            code.white aside
            .description(data-open="false")
              h3
                code.white &lt;aside&gt;
              p Der 
                code <aside>
                | tag definiert Inhalt abseits von dem ihn enthaltenen Umfeld. Er sollte inhaltlich zur Umgebung passen.
              codebox
                pre(class="brush: xml").
                  <p>My family and I visited The Epcot center this summer.</p>

                  <aside>
                    <h4>Epcot Center</h4>
                    <p>The Epcot Center is a theme park in Disney World, Florida.</p>
                  </aside>
            
          li
            code.white audio
            .description(data-open="false")
              h3
                code.white &lt;audio&gt;
              p Definiert Ton so wie Musik oder andere Audiostreams
              codebox
                pre(class="brush: xml").
                  <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag.
                  </audio> 
                  
            
          li
            code.white base
            .description(data-open="false")
              h3
                code.white &lt;base&gt;
              p Definiert eine Standarturl und ein Standarttarget für alle Links auf der Seite
              codebox
                pre(class="brush: xml").
                  <head>
                    <base href="https://www.w3schools.com/images/" target="_blank">
                  </head>

                  <body>
                    <img src="stickman.gif" width="24" height="39" alt="Stickman">
                    <a href="https://www.w3schools.com">W3Schools</a>
                  </body> 
            
          li
            code.white bdi
            .description(data-open="false")
              h3
                code.white &lt;bdi&gt;
              p BDI steht für
								b B
								| i-
								b D
								| irectional 
								b I
								| solation. Der
								code &lt;bdi&gt;
								| tag isoliert einen Teil eines Textes der bei der Änderung der Textrichtung anders formattiert wird. Seine Textrichtung wird beibehalten
              codebox
                pre(class="brush: xml").
									<ul>
								    <li>User <bdi>hrefs</bdi>: 60 points</li>
								    <li>User <bdi>jdoe</bdi>: 80 points</li>
								    <li>User <bdi>????</bdi>: 90 points</li>
									</ul>
                  
            
          li
            code.white bdo
            .description(data-open="false")
              h3
                code.white &lt;bdo&gt;
              p BDO steht für 
								b B
								| i-
								b D
								| irectional 
								b O
								| verwrite. Damit wird die die aktuelle Textrichtung überschrieben
              codebox
                pre(class="brush: xml").
									<bdo dir="rtl">
										This text will go right-to-left.
									</bdo> 
                  
            
          li
            code.white blockquote
            .description(data-open="false")
              h3
                code.white &lt;blockquote&gt;
              p Ein Abschnitt, von einer anderen Quelle zitiert wird.
              codebox
                pre(class="brush: xml").
									<blockquote>
										Niemand hat vor eine Mauer zu bauen - Bob der Baumeister
									</blockquote>
                  
            
          li
            code.white button
            .description(data-open="false")
              h3
                code.white &lt;button&gt;
              p Definiert einen klickbaren Knopf. Er unterscheidet sich von einem Knopf aus einem 
								code &lt;input&gt;
								| -Element dadurch, dass hier auch Texte oder Bilder eingefügt werden können.
              codebox
                pre(class="brush: xml").
									<button type="button">Click Me!</button>
                  
            
          li
            code.white canvas
            .description(data-open="false")
              h3
                code.white &lt;canvas&gt;
              p Auf einem Canvas kann live gemalt werden. Dies geschieht per JavaScript.
              codebox
                pre(class="brush: xml").
									<canvas id="myCanvas"></canvas>

									<script>
										var canvas = document.getElementById("myCanvas");
										var ctx = canvas.getContext("2d");
										ctx.fillStyle = "#FF0000";
										ctx.fillRect(0, 0, 80, 80);
									 </script> 
                  
            
          li
            code.white caption
            .description(data-open="false")
              h3
                code.white &lt;caption&gt;
              p Definiert eine Bezeichnung für eine Tabelle.
              codebox
                pre(class="brush: xml").
									<table>
								    <caption>Monthly savings</caption>
								    <tr>
								      <th>Month</th>
								      <th>Savings</th>
								    </tr>
								    <tr>
								      <td>January</td>
				   				    <td>$100</td>
			  					   </tr>
									</table> 
                  
            
          li
            code.white cite
            .description(data-open="false")
              h3
                code.white &lt;cite&gt;
              p Definiert den Namen/Titel eines Werks (z.B. Ein Bild, ein Lied ...)
              codebox
                pre(class="brush: xml").
									<p><cite>The Scream</cite> by Edward Munch. Painted in 1893.</p> 
            
          li
            code.white code
            .description(data-open="false")
              h3
                code.white &lt;code&gt;
              p Enthält Computercode
              codebox
                pre(class="brush: xml").
                  <code>&lt;code&gt;</code>
                
           
          li
            code.white data
            .description(data-open="false")
              h3
                code.white &lt;data&gt;
              p The <data> tag links the given content with a machine-readable translation. This element provides both a machine-readable value for data processors, and a human-readable value for rendering in a browser.

              codebox
                pre(class="brush: xml").
                  <ul>
									  <li><data value="21053">Cherry Tomato</data></li>
									  <li><data value="21054">Beef Tomato</data></li>
									  <li><data value="21055">Snack Tomato</data></li>
									</ul> 
            
          li
            code.white datalist
            .description(data-open="false")
              h3
                code.white &lt;datalist&gt;
              p The <datalist> tag specifies a list of pre-defined options for an <input> element. The <datalist> tag is used to provide an "autocomplete" feature on <input> elements. Users will see a drop-down list of pre-defined options as they input data. Use the <input> element's list attribute to bind it together with a <datalist> element.

              codebox
                pre(class="brush: xml").
                  <input list="browsers">

									<datalist id="browsers">
									   <option value="Internet Explorer">
									   <option value="Firefox">
									   <option value="Chrome">
									   <option value="Opera">
									   <option value="Safari">
									</datalist> 
									            
          li
            code.white dd
            .description(data-open="false")
              h3
                code.white &lt;dd&gt;
              p The <dd> tag is used to describe a term/name in a description list. The <dd> tag is used in conjunction with <dl> (defines a description list) and <dt> (defines terms/names). Inside a <dd> tag you can put paragraphs, line breaks, images, links, lists, etc.

              codebox
                pre(class="brush: xml").
                  <dl>
									  <dt>Coffee</dt>
									  <dd>Black hot drink</dd>
									  <dt>Milk</dt>
									  <dd>White cold drink</dd>
									</dl> 
            
          li
            code.white details
            .description(data-open="false")
              h3
                code.white &lt;details&gt;
              p The <details> tag specifies additional details that the user can view or hide on demand. The <details> tag can be used to create an interactive widget that the user can open and close. Any sort of content can be put inside the <details> tag. The content of a <details> element should not be visible unless the open attribute is set.

              codebox
                pre(class="brush: xml").
									<details>
									  <summary>Copyright 1999-2014.</summary>
									  <p> - by Refsnes Data. All Rights Reserved.</p>
									  <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
									</details> 
                  
            
          li
            code.white dfn
            .description(data-open="false")
              h3
                code.white &lt;dfn&gt;
              p The <dfn> tag represents the defining instance of a term in HTML. The defining instance is often the first use of a term in a document. The nearest parent of the <dfn> tag must also contain the definition/explanation for the term inside <dfn>.

              codebox
                pre(class="brush: xml").
                  <p><dfn>HTML</dfn> is the standard markup language for creating web pages.</p>
            
          li
            code.white dialog
            .description(data-open="false")
              h3
                code.white &lt;dialog&gt;
              p The <dialog> tag defines a dialog box or window. The <dialog> element makes it easy to create popup dialogs and modals on a web page.

              codebox
                pre(class="brush: xml").
                  <th>January <dialog open>This is an open dialog window</dialog></th>
            
          li
            code.white dt
            .description(data-open="false")
              h3
                code.white &lt;dt&gt;
              p The <dt> tag defines a term/name in a description list. The <dt> tag is used in conjunction with <dl> (defines a description list) and <dd> (describes each term/name).

              codebox
                pre(class="brush: xml").
									<dl>
								    <dt>Coffee</dt>
								    <dd>Black hot drink</dd>
								    <dt>Milk</dt>
								    <dd>White cold drink</dd>
									</dl>   
            
          li
            code.white dl
            .description(data-open="false")
              h3
                code.white &lt;dl&gt;
              p The <dl> tag defines a description list. The <dl> tag is used in conjunction with <dt> (defines terms/names) and <dd> (describes each term/name).

              codebox
                pre(class="brush: xml").
                  <dl>
								    <dt>Coffee</dt>
								    <dd>Black hot drink</dd>
								    <dt>Milk</dt>
								    <dd>White cold drink</dd>
									</dl> 
								            
          li
            code.white embed
            .description(data-open="false")
              h3
                code.white &lt;embed&gt;
              p Definiert einen Container für eine externe Anwendung oder interaktiven Inhalt.
              codebox
                pre(class="brush: xml").
                  <embed src="helloworld.swf"> 
            
          li
            code.white fieldset
            .description(data-open="false")
              h3
                code.white &lt;fieldset&gt;
              p Wird benutzt um zueinander gehörende Elemente in einem Formular zu gruppieren
              codebox
                pre(class="brush: xml").
									<form>
								    <fieldset>
								      <legend>Personalia:</legend>
								      Name: <input type="text"><br>
								      Email: <input type="text"><br>
								      Date of birth: <input type="text">
								    </fieldset>
									</form> 
                  
            
          li
            code.white figcaption
            .description(data-open="false")
              h3
                code.white &lt;figcaption&gt;
              p The <figcaption> tag defines a caption for a <figure> element. The <figcaption> element can be placed as the first or last child of the <figure> element.

              codebox
                pre(class="brush: xml").
									<figure>
								    <img src="img_pulpit.jpg" alt="The Pulpit Rock" width="304" height="228">
								    <figcaption>Fig1. - A view of the pulpit rock in Norway.</figcaption>
									</figure> 
                  
            
          li
            code.white figure
            .description(data-open="false")
              h3
                code.white &lt;figure&gt;
              p Das <figure> -Tag legt in sich geschlossene Inhalte wie Illustrationen, Diagramme, Fotos, Codelisten usw. fest. Während der Inhalt des <figure> -Elements mit dem Hauptfluss zusammenhängt, ist seine Position unabhängig vom Hauptfluss, und wenn es entfernt wird, sollte dies den Fluss des Dokuments nicht beeinflussen.
              codebox
                pre(class="brush: xml").
                  <figure>
										<img src="img_pulpit.jpg" alt="The Pulpit Rock" width="304" height="228">
									</figure> 
            
          li
            code.white footer
            .description(data-open="false")
              h3
                code.white &lt;footer&gt;
              p Definiert eine Fußzeile für eine Dokument oder einen Abschnitt und enthält weiterführende Informationen
              codebox
                pre(class="brush: xml").
									<footer>
									  <p>Posted by: Hege Refsnes</p>
									  <p>Contact information: <a href="mailto:someone@example.com">
											someone@example.com</a>.</p>
									</footer> 
                  
            
          li
            code.white header
            .description(data-open="false")
              h3
                code.white &lt;header&gt;
              p Das header-Element ist ein Container für einleitenden Inhalt oder Navigationslinks
              codebox
                pre(class="brush: xml").
									<article>
								    <header>
								      <h1>Most important heading here</h1>
								      <h3>Less important heading here</h3>
								      <p>Some additional information here</p>
								    </header>
								    <p>Lorem Ipsum dolor set amet....</p>
									</article> 
                  
            
          li
            code.white hr
            .description(data-open="false")
              h3
                code.white &lt;hr&gt;
              p Definiert einen Themenwechsel in einer Seite.
              codebox
                pre(class="brush: xml").
									<h1>HTML</h1>
										<p>HTML is a language for describing web pages.....</p>

										<hr>

										<h1>CSS</h1>
									<p>CSS defines how to display HTML elements.....</p> 
                  
            
          li
            code.white iframe
            .description(data-open="false")
              h3
                code.white &lt;iframe&gt;
              p Ein Inline-Frame. Hier wird ein anderes Dokument eingebunden.
              codebox
                pre(class="brush: xml").
                  <iframe src="https://www.w3schools.com"></iframe>
            
          li
            code.white kbd
            .description(data-open="false")
              h3
                code.white &lt;kbd&gt;
              p Tastatureingabe
              codebox
                pre(class="brush: xml").
								  <kbd>Leertaste</kbd> 
                  
            
          li
            code.white keygen
            .description(data-open="false")
              h3
                code.white &lt;keygen&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white label
            .description(data-open="false")
              h3
                code.white &lt;label&gt;
              p Ein Schlüsselpaargenerator für Formulare
              codebox
                pre(class="brush: xml").
									<form action="/action_page.php" method="get">
								    Username: <input type="text" name="usr_name">
								    Encryption: <keygen name="security">
								    <input type="submit">
									</form>
                  
            
          li
            code.white legend
            .description(data-open="false")
              h3
                code.white &lt;legend&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white link
            .description(data-open="false")
              h3
                code.white &lt;link&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white main
            .description(data-open="false")
              h3
                code.white &lt;main&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white map
            .description(data-open="false")
              h3
                code.white &lt;map&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white mark
            .description(data-open="false")
              h3
                code.white &lt;mark&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white menu
            .description(data-open="false")
              h3
                code.white &lt;menu&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white menuitem
            .description(data-open="false")
              h3
                code.white &lt;menuitem&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white meta
            .description(data-open="false")
              h3
                code.white &lt;meta&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white meter
            .description(data-open="false")
              h3
                code.white &lt;meter&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white nav
            .description(data-open="false")
              h3
                code.white &lt;nav&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white noscript
            .description(data-open="false")
              h3
                code.white &lt;noscript&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white object
            .description(data-open="false")
              h3
                code.white &lt;object&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white optgroup
            .description(data-open="false")
              h3
                code.white &lt;optgroup&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white option
            .description(data-open="false")
              h3
                code.white &lt;option&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white output
            .description(data-open="false")
              h3
                code.white &lt;output&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white param
            .description(data-open="false")
              h3
                code.white &lt;param&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white picture
            .description(data-open="false")
              h3
                code.white &lt;picture&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white progress
            .description(data-open="false")
              h3
                code.white &lt;progress&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white q
            .description(data-open="false")
              h3
                code.white &lt;q&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white rp
            .description(data-open="false")
              h3
                code.white &lt;rp&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white rt
            .description(data-open="false")
              h3
                code.white &lt;rt&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white ruby
            .description(data-open="false")
              h3
                code.white &lt;ruby&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white s
            .description(data-open="false")
              h3
                code.white &lt;s&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white samp
            .description(data-open="false")
              h3
                code.white &lt;samp&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white script
            .description(data-open="false")
              h3
                code.white &lt;script&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white section
            .description(data-open="false")
              h3
                code.white &lt;section&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white select
            .description(data-open="false")
              h3
                code.white &lt;select&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white small
            .description(data-open="false")
              h3
                code.white &lt;small&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white source
            .description(data-open="false")
              h3
                code.white &lt;source&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white span
            .description(data-open="false")
              h3
                code.white &lt;span&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white summary
            .description(data-open="false")
              h3
                code.white &lt;summary&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white tbody
            .description(data-open="false")
              h3
                code.white &lt;tbody&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white textarea
            .description(data-open="false")
              h3
                code.white &lt;textarea&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white tfoot
            .description(data-open="false")
              h3
                code.white &lt;tfoot&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white th
            .description(data-open="false")
              h3
                code.white &lt;th&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white thead
            .description(data-open="false")
              h3
                code.white &lt;thead&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white time
            .description(data-open="false")
              h3
                code.white &lt;time&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white title
            .description(data-open="false")
              h3
                code.white &lt;title&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white track
            .description(data-open="false")
              h3
                code.white &lt;track&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white u
            .description(data-open="false")
              h3
                code.white &lt;u&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white var
            .description(data-open="false")
              h3
                code.white &lt;var&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white video
            .description(data-open="false")
              h3
                code.white &lt;video&gt;
              p
              codebox
                pre(class="brush: xml").
                  
            
          li
            code.white wbr
            

            
           

            
        .nextslide
      section#2.explanation
        .previouslide
          h2 Nachschlagewerke:
          p.center.lgfont.lgpad
            a(href="//w3schools.com") W3Schools
          p.center.lgfont.lgpad
            a(href="//developer.mozilla.org/de/docs/Web/HTML") Mozilla Developer Network
          p.center.lgfont.lgpad
            a(href="//wiki.selfhtml.org/wiki/HTML") Selfhtml
      
      


  include ../master/footer.jade
