-var pfad = "slides/"
-var home = "../index.html"
-var next = home
-var previous = "1_17_html5.html"
-var title = "Referenz"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Nachschlagewerke:
        p.center.lgfont.lgpad
          a(href="//w3schools.com") W3Schools
        p.center.lgfont.lgpad
          a(href="//developer.mozilla.org/de/docs/Web/HTML") Mozilla Developer Network
        p.center.lgfont.lgpad
          a(href="//wiki.selfhtml.org/wiki/HTML") Selfhtml
            
        .nextslide
      section#2.explanation
        .previouslide
      
      


  include ../master/footer.jade
