-var pfad = "slides/"
-var home = "../index.html"
-var current = "1_2_basics.html"
-var next = "1_3_elements.html"
-var previous = "1_1_intro.html"
doctype html
html(lang='en')
  include ../master/head.jade
  body
    header
      .homebox
        a(href=home)
          svg(viewBox="0 0 24 24")
            path(d="M9,19V13H11L13,13H15V19H18V10.91L12,4.91L6,10.91V19H9M12,2.09L21.91,12H20V21H13V15H11V21H4V12H2.09L12,2.09Z")
      .back
        a(href=previous)
          svg(viewBox="0 0 24 24")
            path(d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z")
      h1 Basics
    main
      section#1.explanation.active
        h2 Was ist HTML?

        .nextslide
      section#2.explanation
        .previouslide
        h2 Eine einfache HTML-Seite
        .codebox
          pre(class="brush: xml").
            &lt;!DOCTYPE html&gt;
              &lt;html lang="en"&gt;
                &lt;head&gt;
                  &lt;meta charset="utf-8"&gt;
                  &lt;title&gt;HowToWeb2.0&lt;/title&gt;
                &lt;/head&gt;
                
        .nextslide
      section#3.explanation
        .previouslide
        h2 HTML Tags
        
        
                
        .nextslide  
      section#4.code
        .previouslide
          
        .codeside
          h3 Aufbau eines HTML Dokuments
          .hmtltab
            h3 index.html
            .codetab
              pre(class="brush: xml").
                
        
        .previewside.preview
          
        
          
      


  include ../master/footer.jade
