-var pfad = "slides/"
-var home = "../index.html"
-var current = "1_2_basics.html"
-var next = "1_3_elements.html"
-var previous = "1_1_intro.html"
-var title = "Basics"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Was ist HTML?

        .center.xlgpad.xlgfont
          strong H
          | yper
          strong T
          | ext - 
          strong M
          | arkup - 
          strong L
          |anguage
        
        p.center.lgfont Hypertext Auszeichungssprache
        
        p Aktuelle Version: HTML 5
        
        

        .nextslide
      section#2.explanation
        .previouslide
        h2 Eine einfache HTML-Seite
        .codebox.lgfont
          pre(class="brush: xml").
            &lt;!DOCTYPE html&gt;
              &lt;html lang="en"&gt;
                &lt;head&gt;
                  &lt;meta charset="utf-8"&gt;
                  &lt;title&gt;HowToWeb2.0&lt;/title&gt;
                &lt;/head&gt;
                &lt;body&gt;
                  &lt;h1&gt;Überschrif&lt;/h1&gt;
                  &lt;p&gt;Abschnitt&lt;/&gt;
                &lt;/body&gt;
                
        .nextslide
      section#3.explanation
        .previouslide
        h2 HTML Tags
        p HTML-Elemente werden durch
          span.imprtant Tags
          | gekennzeichnet:
          .codebox.lgfont
            pre(class="brush: xml").
              &lt;tagname&gt;Content&lt;/tagname&gt;
        p Der Inhalt eines Elements wird eingerahmt von einem Starttag: 
          code.red &lt;tag&gt;
          | Und einem Endtag: 
          code.red &lt;/tag&gt;
        p Das Endtag (Auch: "opening tag") besitz im Gegensatz zum Starttag (Auch "closing tag") einen Schrägstrich 
          code.red /
          |  (engl.: "slash" oder "forward slash")
          
                
        .nextslide  
      section#4.code
        .previouslide
          
        .codeside
          h3 Aufbau eines HTML Dokuments
          .hmtltab
            h3 index.html
            .codetab
              pre(class="brush: xml").
                &lt;!DOCTYPE html&gt;
                &lt;html lang="en"&gt;
                  &lt;head&gt;
                    &lt;title&gt;HowToWeb2.0&lt;/title&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                  &lt;h1&gt; Überschrift &lt;/h1&gt;
                  &lt;p&gt;Absatz Nummmer eins&lt;/p&gt;
                  &lt;p&gt;Und noch ein Absatz&lt;/p&gt;
                 &lt;/body&gt;
                &lt;/html&gt;
                
        
        .previewside.preview
          .prettydiv
            h1 Überschrift
            p Absatz Nummer eins
            p Und noch ein Absatz
            
        .nextslide  
      section#5.explanation
        .previouslide
          
        h2 SelfHTML
        .fourimages   
          .quarter       
            img(src="../assets/img/slides/basics/001.jpg")
          .quarter       
            img(src="../assets/img/slides/basics/002.jpg")
          .quarter       
            img(src="../assets/img/slides/basics/003.jpg")
          .quarter       
            img(src="../assets/img/slides/basics/004.jpg")

        .nextslide  
      section#6.code
        .previouslide
        .codeside
          .htmltab
            h3 index.html
            .codebox
              pre(class="brush: xml").
                &lt;!DOCTYPE html&gt;
                &lt;html lang='de'&gt;
                  &lt;head&gt;
                    &lt;tite&gt;Eine HTML-Seite&lt;/tite&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                
                  &lt;/body&gt;
                  
                &lt;/html&gt;
                        
        .previewside.preview

      


  include ../master/footer.jade
