-var pfad = "slides/"
-var home = "../index.html"
-var next = "1_4_attributes.html"
-var previous = "1_2_basics.html"
-var title = "Elemente"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation
        h2 Was ist HTML?

        
        

        .nextslide
      section#2.explanation
        .previouslide

          
      


  include ../master/footer.jade
