-var pfad = "slides/"
-var home = "../index.html"
-var next = "1_8_css.html"
-var previous = "1_6_paragraphs.html"
-var title = "Kommentare"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Kommentare
        p.lgfont.center.lgpad
          code.default &lt;!-- Das ist ein Kommentar --&gt;
        .codebox
          pre(class="brush: xml").
            &lt;!--
              Das ist ein Blockkommentar
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Saepe voluptates fugiat sint quis laborum laboriosam quidem
            --&gt;
      
      


  include ../master/footer.jade
