-var pfad = "slides/"
-var home = "../index.html"
-var next = "1_8_css.html"
-var previous = "1_6_paragraphs.html"
-var title = "Kommentare"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Kommentare
        p.lgfont.center.lgpad
          code.default &lt;!-- Das ist ein Kommentar --&gt;
        .codebox
          pre(class="brush: xml").
            &lt;!--
              Das ist ein Blockkommentar
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Saepe voluptates fugiat sint quis laborum laboriosam quidem
            --&gt;
            
        .nextslide  
      section#2.code
        .previouslide
        .codeside
          .htmltab
            h3 index.html
            .codetab
              pre(class="brush: xml").
                &lt;!DOCTYPE html&gt;
                &lt;html lang='de'&gt;
                  &lt;head&gt;
                    &lt;tite&gt;Eine HTML-Seite&lt;/tite&gt;
                  &lt;/head&gt;
                  &lt;body&gt;
                    &lt;h1&gt;Überschrift&lt;/h1&gt;
                    &lt;h2&gt;Überschrift 2&lt;/h2&gt;
                    &lt;h3&gt;Überschrift 1&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing
                     elit, sed do eiusmod tempor incididunt ut labore et dolore 
                     magna aliqua.&lt;/p&gt;
                    &lt;-- Ein Vers --&gt;
                    &lt;pre&gt;
                      Dunkel war’s, der Mond schien helle,
                      schneebedeckt die grüne Flur,
                      als ein Wagen blitzesschnelle,
                      langsam um die Ecke fuhr.
                    &lt;/pre&gt;
                  &lt;/body&gt;
                &lt;/html&gt;
                        
        .previewside.preview
          .livewrite
            h1 Überschrift
            h2 Überschrift 2
            h3 Überschrift 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            pre.
              Dunkel war’s, der Mond schien helle,
              schneebedeckt die grüne Flur,
              als ein Wagen blitzesschnelle,
              langsam um die Ecke fuhr.
  
      


  include ../master/footer.jade
