-var pfad = "slides/"
-var home = "../index.html"
-var next = '2_18_flexbox.html'
-var previous = '2_16_shadow.html'
-var title = "Display"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body.cssslides
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Display

        .nextslide
      section#2.explanation
        .previouslide


  include ../master/footer.jade
