-var pfad = "slides/"
-var home = "../index.html"
-var next = '2_5_colors.html'
-var previous = '2_3_einbinden.html'
-var title = "Vererbung"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body.cssslides
    include ../master/header.jade
    main
      section#1.explanation.active
        h2 Vererbung
        .codebox.split2
            pre(class="brush: xml").
                &lt;header class="red"&gt;
                  &lt;h1&gt;Hallo&lt;/h1&gt;            
                &lt;/header&gt;
            pre(class="brush: css").
                header {
                  color: red;
                  text-align: center;
                }
        .examplebox
            div(style="color: red; text-align:center;width:100%;")
              h1(style="color: red; text-align:center;") Hallo


        .nextslide
      section#2.explanation
        .previouslide



  include ../master/footer.jade
