-var pfad = "slides/"
-var home = "../index.html"
-var next = '2_7_font.html'
-var previous = '2_5_colors.html'
-var title = "Text"
-var sleep = "../sleep.html"
doctype html
html(lang='de')
  include ../master/head.jade
  body.cssslides
    include ../master/header.jade
    main
      section#1.explanation.active

        .nextslide
      section#2.explanation
        .previouslide


  include ../master/footer.jade
