.explanation
  .codebox
    background: $c_theme_bg_dark
    border-radius: 5px
    padding: 1rem
    // width: 80%
    font-size: 2rem
    margin: 0 auto
    border-radius: 0

  p
    margin: 1rem 0 0 0
    // columns: 2
    // column-gap: 3rem
    font-size: 2rem
    margin: 2rem auto
    text-align: justify
    .important
      color: $c_theme_altaccent
      font-weight: 700
      font-size: 1.5em
      line-height: 0.8
    code
      background: $c_theme_bg_dark
      color: $c_theme_code_gray
      display: inline-block
      padding: 0 0.5rem
      // border-radius: 0.3rem
      &.red
        color: $c_theme_code_red
      &.orange
        color: $c_theme_code_orange
      &.bluelight
        color: $c_theme_code_bluelight
      &.bluedark
        color: $c_theme_code_bluedark
      &.green
        color: $c_theme_code_green
      &.purple
        color: $c_theme_code_purple
      &.pink
        color: $c_theme_code_pink
