header
  .homebox
    a(href=home)
      svg(viewBox="0 0 24 24")
        path(d="M9,19V13H11L13,13H15V19H18V10.91L12,4.91L6,10.91V19H9M12,2.09L21.91,12H20V21H13V15H11V21H4V12H2.09L12,2.09Z")
  .back
    a(href=previous)
      svg(viewBox="0 0 24 24")
        path(d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z")
  .forward
    a(href=next)
      svg(viewBox="0 0 24 24",style="transform: rotate(180deg);")
        path(d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z")
  h1=title
